<ul>
    <li>
        <a routerLink="/pages/tarefa/listar">
            <div class="item">
                <span> Listar tarefas </span>
            </div>
        </a>
    </li>
    <li>
        <a routerLink="/pages/tarefa/listarconcluidas">
            <div class="item">
                <span> Listar tarefas concluídas </span>
            </div>
        </a>
    </li>
    <li>
        <a routerLink="/pages/tarefa/listarnaoconcluidas">
            <div class="item">
                <span> Listar tarefas não concluídas </span>
            </div>
        </a>
    </li>
    <li>
        <a routerLink="/pages/tarefa/alterar">
            <div class="item">
                <span> Alterar tarefa </span>
            </div>
        </a>
    </li>
</ul>

<a routerLink="/pages/tarefa/cadastrar"> Cadastrar </a>

<div class="content">
    <!-- Conteúdo -->
    <router-outlet> </router-outlet>
</div>
  